@font-face {
  font-family: "TradeGothic";
  src: url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.eot");
  src: url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.svg#TradeGothic") format("svg"); }
ul {
  list-style-type: none;
  margin-bottom: 0 !important; }

* {
  font-family: Helvetica;
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: #757575 !important;
  text-decoration: none !important; }

a:hover {
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1120px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 880px !important; } }
@media (min-width: 576px) and (max-width: 767px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 800px !important; } }
.header-nav {
  color: #757575;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff; }

.top-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0 -1px 0 0 #e5e5e5;
          box-shadow: inset 0 -1px 0 0 #e5e5e5;
  font-size: 12px; }
  .top-header-nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto; }
    .top-header-nav-left a:hover {
      color: #000000 !important; }
    .top-header-nav-left svg {
      -webkit-transition: fill .35s ease;
      transition: fill .35s ease;
      fill: #757575; }
    .top-header-nav-left svg:hover {
      fill: #CE114F; }
  .top-header-nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-transition: color .35s ease;
    transition: color .35s ease; }
    .top-header-nav-right i {
      -webkit-transition: color .35s ease;
      transition: color .35s ease;
      font-size: 15px !important;
      cursor: pointer; }
    .top-header-nav-right i:hover {
      color: #000000; }

.header-nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-shadow: inset 0 -1px 0 0 #e5e5e5;
          box-shadow: inset 0 -1px 0 0 #e5e5e5;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header-nav-main ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-nav-main ul li {
      padding: 24px 20px;
      color: #000000;
      font-weight: 400;
      font-family: "TradeGothic";
      font-size: 16px;
      cursor: pointer; }
  .header-nav-main-logo {
    width: 246px;
    padding: 24px 0; }
    .header-nav-main-logo img {
      width: 20%; }
  .header-nav-main-search {
    color: #000000;
    width: 246px; }
    .header-nav-main-search .search-box {
      padding: 5px 0 5px 10px;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      width: 200px;
      -webkit-transition: width .4s ease;
      transition: width .4s ease;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header-nav-main-search .search-box input {
        margin-left: 5px;
        border: 0;
        width: 100%; }
      .header-nav-main-search .search-box input:focus {
        outline: none; }
    .header-nav-main-search .search-box:focus-within {
      width: 100%;
      border: 1px solid #000000; }

.body {
  margin-top: 110px; }
  .body .banner-card {
    margin-top: 30px;
    text-align: center; }
    .body .banner-card p {
      margin-bottom: 0;
      font-size: 16px;
      color: #000000; }
    .body .banner-card-title {
      font-family: "Anton", sans-serif;
      font-size: 72px !important;
      letter-spacing: 0px;
      height: 90px; }
    .body .banner-card .list-button {
      margin-top: 20px; }
      .body .banner-card .list-button input {
        border: 0;
        color: #ffffff;
        background-color: #000000;
        padding: 8px 30px;
        border-radius: 40px; }
  .body .sustainable-materials-title {
    font-weight: 500;
    font-size: 24px;
    color: #000000; }
  .body .sustainable-materials-products {
    overflow: auto;
    white-space: nowrap; }
  .body .sustainable-materials-product {
    display: inline-block;
    width: 400px;
    height: 467px;
    margin-right: 15px; }
  .body .sustainable-materials img {
    width: 100%; }
  .body .sustainable-materials-product-info {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .body .sustainable-materials-product-info p {
      margin-bottom: 0; }
    .body .sustainable-materials-product-info .name-product, .body .sustainable-materials-product-info .cost-product {
      color: #000000; }
  .body .trending {
    margin-top: 40px; }
    .body .trending-title {
      font-weight: 500;
      font-size: 24px;
      color: #000000; }
    .body .trending-banner-left {
      background: url("/template/img/banner/nike-just-do-it (1).jpg");
      background-position: center;
      height: 700px; }
      .body .trending-banner-left-detail {
        position: absolute;
        left: 40px;
        bottom: 20px; }
      .body .trending-banner-left-detail-title {
        font-size: 20px;
        color: #ffffff; }
      .body .trending-banner-left input {
        border: 0;
        background-color: #ffffff;
        border-radius: 30px;
        margin-right: 10px; }
    .body .trending-banner-right {
      background-image: url("/template/img/banner/banner_right.gif");
      background-position: center;
      height: 700px;
      background-size: cover; }
      .body .trending-banner-right-detail {
        position: absolute;
        left: 40px;
        bottom: 20px; }
      .body .trending-banner-right-detail-title {
        font-size: 20px;
        color: #f08aacbb; }
      .body .trending-banner-right input {
        border: 0;
        color: #ffffff;
        background-color: #f08aacbb;
        border-radius: 30px;
        margin-right: 10px; }
  .body .featured {
    margin: 40px auto; }
    .body .featured-title {
      font-weight: 500;
      font-size: 24px;
      color: #000000; }
    .body .featured-banner {
      background: url("/template/img/banner/nike-just-do-it (2).jpg");
      background-position: center;
      background-size: cover;
      height: 500px;
      position: relative; }
      .body .featured-banner-detail {
        position: absolute;
        left: 40px;
        bottom: 20px; }
        .body .featured-banner-detail-title {
          font-family: "Anton", sans-serif;
          font-size: 72px !important;
          letter-spacing: 0px;
          width: 500px;
          line-height: 70px;
          color: #ffffff; }
        .body .featured-banner-detail-button input {
          border: 1px solid #000000;
          background-color: #ffffff;
          border-radius: 30px; }

.footer {
  background-color: #111111;
  padding-top: 40px; }
  .footer p {
    margin: 0;
    color: #757575;
    font-size: 11px;
    text-align: center; }
  .footer hr {
    background-color: #757575;
    opacity: 50%; }
  .footer a {
    font-size: 13px; }
  .footer a:hover {
    color: #ffffff !important; }
  .footer li {
    margin-bottom: 3px; }
  .footer-top-icon {
    float: right; }
    .footer-top-icon a {
      margin-left: 20px; }

.ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ct-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.pd-l {
  padding: 8px 28px 8px 28px; }

.bd {
  -webkit-box-shadow: inset -1px 0 0 0 #e5e5e5;
          box-shadow: inset -1px 0 0 0 #e5e5e5; }

.pd-r {
  padding: 10px 18px 10px 18px; }

.r-hover:hover {
  color: #000000 !important;
  -webkit-box-shadow: inset 0 -2px 0 0 #000000;
          box-shadow: inset 0 -2px 0 0 #000000; }

.sustainable-materials-products::-webkit-scrollbar-track {
  border-radius: 10px !important;
  background-color: #e5e5e5; }

.sustainable-materials-products::-webkit-scrollbar {
  height: 4px;
  cursor: pointer;
  background-color: #e5e5e5;
  border-radius: 10px; }

.sustainable-materials-products::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #757575; }

.title-footer {
  color: #ffffff !important;
  font-family: "TradeGothic";
  font-size: 15px !important; }

.social-link-icon {
  fill: #757575;
  -webkit-transition: fill .2s;
  transition: fill .2s; }

.social-link-icon:hover {
  fill: #ffffff; }

.shoes {
  margin-top: 30px; }
  .shoes .row {
    margin-top: 20px; }
  .shoes-title h1 {
    font-size: 24px !important; }
  .shoes .col-md-4 {
    margin-bottom: 30px; }
  .shoes .product-item p {
    margin-bottom: 0; }
  .shoes .product-item .product-img {
    display: inline-block;
    overflow: hidden;
    height: 320px; }
    .shoes .product-item .product-img img {
      width: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .shoes .product-item .product-card-detail {
    float: left; }
  .shoes .product-item .product-card-price {
    float: right; }
  .shoes .product-item .product-card-detail-name, .shoes .product-item .product-card-price-detail {
    color: #000000; }

.list-category a {
  color: #000000 !important; }
.list-category a:hover {
  color: #757575 !important; }
.list-category li {
  margin-bottom: 10px; }
.list-category-gender li {
  display: block;
  margin-bottom: 5px; }
.list-category-gender label {
  color: #000000 !important;
  margin-bottom: 0;
  font-size: 16px; }

#carouselExampleControls {
  background-color: #F7F7F7;
  height: 60px;
  -webkit-box-shadow: inset 0 -1px 0 0 #e5e5e5;
          box-shadow: inset 0 -1px 0 0 #e5e5e5; }
  #carouselExampleControls .carousel-inner {
    height: 100%;
    margin: 0 auto;
    width: 50%; }
  #carouselExampleControls .carousel-item a {
    color: #000000 !important;
    border-bottom: 1px solid; }

.info-product {
  margin-top: 30px; }
  .info-product p {
    margin-bottom: 0; }
  .info-product-detail-price {
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .info-product-detail-name {
    font-size: 28px; }
  .info-product-img img {
    width: 100%;
    margin-bottom: 30px; }
  .info-product .list-button {
    margin-top: 20px; }
    .info-product .list-button button {
      display: block;
      margin: 0 auto; }
    .info-product .list-button .button-add {
      border: 0;
      color: #ffffff;
      background-color: #000000;
      width: 80%;
      padding: 18px 24px;
      border-radius: 100px;
      margin-bottom: 10px; }
    .info-product .list-button .button-favorite {
      border: 1px solid #e5e5e5;
      color: #000000;
      -webkit-transition: border .55s ease;
      transition: border .55s ease;
      background-color: #ffffff;
      width: 80%;
      padding: 18px 24px;
      border-radius: 100px; }
      .info-product .list-button .button-favorite svg {
        -webkit-transition: fill .55s ease;
        transition: fill .55s ease; }
    .info-product .list-button .button-favorite:hover {
      border: 1px solid #757575; }
      .info-product .list-button .button-favorite:hover svg {
        fill: #CE114F; }
  .info-product .product-desc {
    margin-top: 20px;
    line-height: 28px; }

.accordion button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.accordion:focus svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.cl-bl {
  color: #000000; }

.cart {
  margin: 30px 0; }
  .cart p {
    margin-bottom: 0; }
  .cart-title {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px; }
  .cart-detail {
    margin-top: 40px; }
  .cart-list-product-detail {
    margin-bottom: 30px;
    height: 240px;
    border: 1px solid #757575; }
    .cart-list-product-detail-img {
      display: inline-block;
      width: 240px;
      overflow: hidden;
      height: 100%; }
      .cart-list-product-detail-img img {
        width: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
    .cart-list-product-detail-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 70%;
      padding: 20px; }
      .cart-list-product-detail-info .product-name {
        font-size: 20px;
        font-weight: 700; }
      .cart-list-product-detail-info .product-cate {
        color: #757575; }
      .cart-list-product-detail-info .list-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 40px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .cart-list-product-detail-info .list-button .button-love button {
          background-color: #ffffff;
          padding: 5px;
          border: 1px solid #757575; }
        .cart-list-product-detail-info .list-button .button-remove button {
          background-color: #ffffff;
          padding: 5px 15px;
          border: 1px solid #757575; }
  .cart-order-summary-checkout button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: 1px solid;
    padding: 10px 0; }
  .cart-order-summary-checkout .button-checkout button {
    color: #ffffff;
    background-color: #000000;
    font-family: "TradeGothic"; }
    .cart-order-summary-checkout .button-checkout button svg {
      fill: #ffffff;
      -webkit-transition: margin .45s ease;
      transition: margin .45s ease; }
  .cart-order-summary-checkout .button-checkout button:focus svg {
    margin-right: -50px; }
  .cart-order-summary-checkout .button-paypal button {
    background-color: #ffffff; }
  .cart-order-summary-detail {
    margin-top: 30px;
    border: 1px solid #e5e5e5;
    padding: 20px; }
    .cart-order-summary-detail table, .cart-order-summary-detail tbody {
      width: 100%; }
    .cart-order-summary-detail td {
      padding: 10px 0; }
  .cart-order-summary-help {
    color: #000000;
    margin-top: 30px; }
    .cart-order-summary-help a {
      color: #000000 !important; }
    .cart-order-summary-help a:hover {
      color: #ffffff !important;
      background-color: #000000; }
  .cart-order-summary-payment-method {
    margin-top: 30px; }
    .cart-order-summary-payment-method img {
      width: 100%; }
