$color-gray: #757575;
$color-black: #000000;
$color-black-light: #111111;
$color-pink: #CE114F;
$color-white: #ffffff;
$color-gray-light: #e5e5e5;
$color-pink-light: #f08aacbb;
$color-slide:#F7F7F7;
@font-face {font-family: "TradeGothic"; src: url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.eot"); src: url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0f176e527f217797a50cb82e9f62894f.svg#TradeGothic") format("svg"); }
$font-title: "TradeGothic";

$font-bold-title: 'Anton', sans-serif;
